doctype html
html(lang="ar")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=" تطبيق إسلامي لسطح المكتب يعمل على انظمة التشغيل ويندوز ولينكس")
        meta(name="keywords" content="app linux islamic , تطبيق التقوى, برنامج التقوى, تطبيق إسلامي, برنامج إسلامي, تطبيق إسلامي لإجهزة اللينكس, تطبيق إسلامي ويندوز , تطبيق deb, تطبيق exe, تطبيق rpm, تطبيق appimage, تطبيق إسلامي ابونتو, تطبيقات لينكس, تطبيق إلكترون, app electron, electron, electron islamic, app islam,Application Altaqwaa, Application islam, Application islamic, Application Desktop")
        title تطبيق التقوى لإجهزة سطح المكتب
        link(rel="stylesheet" href=" /Css/style.css" type="text/css")
        link(rel="shortcut icon" href="./logo.png" type="image/x-icon")
    body 
        #header_top
            a.header_url(href=localhost) الرئيسية
            a.header_url(href=localhost+'/video') الفيديوهات
            a.header_url(href=localhost+'/image') الصور
            a.header_url(href=localhost+'/quran') القرآن الكريم
            a.header_url(href=localhost+'/app') تطبيق التقوى
        #header
            a(href=localhost) 
                img(src="./logo.png" id="logo")
            a(href="https://t.me/tqw24h" target="_blank") 
                img(src="./telegram.png" id="telegram")
        #posts_home
            a(href=localhost) 
                img(src="./return-button.png" id="return_icon")
            h1#title تطبيق التقوى لإجهزة سطح المكتب 
            img(src="../files/app/1.png" id="app_top")
            p#t_app v1.0.6
            a(href="https://github.com/rn0x/Altaqwaa-Islamic-Desktop-Application" target="_blank") 
                img(src="../github.png" id="github")
            ul#button_ul 
                li: a(href="https://github.com/rn0x/Altaqwaa-Islamic-Desktop-Application/releases/download/v1.0.6/Altaqwaa.Setup.1.0.6-exe.zip")  exe
                li: a(href="https://github.com/rn0x/Altaqwaa-Islamic-Desktop-Application/releases/download/v1.0.6/altaqwaa_1.0.6_amd64.deb")  deb
                li: a(href="https://github.com/rn0x/Altaqwaa-Islamic-Desktop-Application/releases/download/v1.0.6/altaqwaa-1.0.6.x86_64.rpm")  rpm
                li: a(href="https://github.com/rn0x/Altaqwaa-Islamic-Desktop-Application/releases/download/v1.0.6/Altaqwaa-1.0.6.AppImage")  AppImage
                li: a(href="https://github.com/rn0x/Altaqwaa-Islamic-Desktop-Application/releases/download/v1.0.6/Altaqwaa.1.0.6-msi.zip")  msi
            p#features مميزات التطبيق
            ul#features_ul 
                li القرآن الكريم كتابة و صوت
                li حصن المسلم
                li أسماء الله الحسنى ومعانيها
                li أذكار الصباح
                li أذكار المساء
                li أذكار النوم
                li أذكار الطعام
                li أذكار الصلاة
                li تسابيح 
                li مواقيت الصلاة
                li إشعار صوت وكتابة بدخول وقت الصلاة
                li إشعارات أذكار متنوعة
                li بدء تشغيل التطبيق مع بدء تشغيل النظام (ويندوز فقط)
                li إشعارات صوت أذكار الصباح والمساء
                li إمكانية إيقاف وتفعيل الإشعارات
            p#features2 لقطات من البرنامج 
            ul#photoapp 
                li: img(src="./files/app/2.png")
                li: img(src="./files/app/3.png")
                li: img(src="./files/app/4.png")
                li: img(src="./files/app/5.png")
                li: img(src="./files/app/6.png")
                li: img(src="./files/app/7.png")
        p#bottom موقع التقوى | www.altaqwaa.org 
        p#bottom_2 Desing web site by : 
            a(href="https://github.com/rn0x" id="bottom_a" target="_blank") @rn0x  
