doctype html
html(lang='ar')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name="keywords" content="فهرس, فهرس القرآن الكريم, فهرس القرآن,القرآن, قران , سور القرآن, فهرسة القرآن, index, index quran, quran, قرآن كريم")
        title فهرس القرآن الكريم
        link(rel='stylesheet' href=' /Css/style.css' type='text/css')
        link(rel='shortcut icon' href='../logo.png' type='image/x-icon')
    body
        #header_top
            a.header_url(href=localhost) الرئيسية
            a.header_url(href=localhost+'/video') الفيديوهات
            a.header_url(href=localhost+'/image') الصور
            a.header_url(href=localhost+'/quran') القرآن الكريم
            a.header_url(href=localhost+'/app') تطبيق التقوى
        #header
            a(href=localhost)
                img#logo(src='../logo.png')
            a(href='https://t.me/tqw24h' target='_blank')
                img#telegram(src='../telegram.png')
        #posts_home
            h1#title فهرس القرآن الكريم
            .table
                table
                    tbody
                        tr
                            th الصفحة
                            th عدد آياتها
                            th نوعها
                            th اسم السورة
                            th م
                        tr
                            td 1
                            td 7
                            td مكية
                            td
                                a(href=localhost+'/quran/الفاتحة') الفاتحة
                            td 1
                        tr
                            td 2
                            td 286
                            td مدنية
                            td
                                a(href=localhost+'/quran/البقرة') البقرة
                            td 2
                        tr
                            td 50
                            td 200
                            td مدنية
                            td
                                a(href=localhost+'/quran/آل_عمران') آل عمران
                            td 3
                        tr
                            td 77
                            td 176
                            td مدنية
                            td
                                a(href=localhost+'/quran/النساء') النساء
                            td 4
                        tr
                            td 106
                            td 120
                            td مدنية
                            td
                                a(href=localhost+'/quran/المائدة') المائدة
                            td 5
                        tr
                            td 128
                            td 165
                            td مكية
                            td
                                a(href=localhost+'/quran/الإنعام') الأنعام
                            td 6
                        tr
                            td 151
                            td 206
                            td مكية
                            td
                                a(href=localhost+'/quran/الأعراف') الأعراف
                            td 7
                        tr
                            td 177
                            td 75
                            td مدنية
                            td
                                a(href=localhost+'/quran/الأنفال') الأنفال
                            td 8
                        tr
                            td 187
                            td 129
                            td مدنية
                            td
                                a(href=localhost+'/quran/التوبة') التوبة
                            td 9
                        tr
                            td 208
                            td 109
                            td مكية
                            td
                                a(href=localhost+'/quran/يونس') يونس
                            td 10
                        tr
                            td 221
                            td 123
                            td مكية
                            td
                                a(href=localhost+'/quran/هود') هود
                            td 11
                        tr
                            td 235
                            td 111
                            td مكية
                            td
                                a(href=localhost+'/quran/يوسف') يوسف
                            td 12
                        tr
                            td 249
                            td 43
                            td مدنية
                            td
                                a(href=localhost+'/quran/الرعد') الرعد
                            td 13
                        tr
                            td 255
                            td 52
                            td مكية
                            td
                                a(href=localhost+'/quran/ابراهيم') ابراهيم
                            td 14
                        tr
                            td 262
                            td 99
                            td مكية
                            td
                                a(href=localhost+'/quran/الحجر') الحجر
                            td 15
                        tr
                            td 267
                            td 128
                            td مكية
                            td
                                a(href=localhost+'/quran/النحل') النحل
                            td 16
                        tr
                            td 282
                            td 111
                            td مكية
                            td
                                a(href=localhost+'/quran/الإسراء') الإسراء
                            td 17
                        tr
                            td 293
                            td 110
                            td مكية
                            td
                                a(href=localhost+'/quran/الكهف') الكهف
                            td 18
                        tr
                            td 305
                            td 98
                            td مكية
                            td
                                a(href=localhost+'/quran/مريم') مريم
                            td 19
                        tr
                            td 312
                            td 135
                            td مكية
                            td
                                a(href=localhost+'/quran/طه') طه
                            td 20
                        tr
                            td 322
                            td 112
                            td مكية
                            td
                                a(href=localhost+'/quran/الأنبياء') الأنبياء
                            td 21
                        tr
                            td 332
                            td 78
                            td مدنية
                            td
                                a(href=localhost+'/quran/الحج') الحج
                            td 22
                        tr
                            td 342
                            td 118
                            td مكية
                            td
                                a(href=localhost+'/quran/المؤمنون') المؤمنون
                            td 23
                        tr
                            td 350
                            td 64
                            td مدنية
                            td
                                a(href=localhost+'/quran/النور') النور
                            td 24
                        tr
                            td 359
                            td 77
                            td مكية
                            td
                                a(href=localhost+'/quran/الفرقان') الفرقان
                            td 25
                        tr
                            td 367
                            td 227
                            td مكية
                            td
                                a(href=localhost+'/quran/الشعراء') الشعراء
                            td 26
                        tr
                            td 377
                            td 93
                            td مكية
                            td
                                a(href=localhost+'/quran/النمل') النمل
                            td 27
                        tr
                            td 385
                            td 88
                            td مكية
                            td
                                a(href=localhost+'/quran/القصص') القصص
                            td 28
                        tr
                            td 396
                            td 69
                            td مكية
                            td
                                a(href=localhost+'/quran/العنكبوت') العنكبوت
                            td 29
                        tr
                            td 404
                            td 60
                            td مكية
                            td
                                a(href=localhost+'/quran/الروم') الروم
                            td 30
                        tr
                            td 411
                            td 34
                            td مكية
                            td
                                a(href=localhost+'/quran/لقمان') لقمان
                            td 31
                        tr
                            td 415
                            td 30
                            td مكية
                            td
                                a(href=localhost+'/quran/السجدة') السجدة
                            td 32
                        tr
                            td 418
                            td 73
                            td مدنية
                            td
                                a(href=localhost+'/quran/الأحزاب') الأحزاب
                            td 33
                        tr
                            td 428
                            td 54
                            td مكية
                            td
                                a(href=localhost+'/quran/سبأ') سبأ
                            td 34
                        tr
                            td 434
                            td 45
                            td مكية
                            td
                                a(href=localhost+'/quran/فاطر') فاطر
                            td 35
                        tr
                            td 440
                            td 83
                            td مكية
                            td
                                a(href=localhost+'/quran/يس') يس
                            td 36
                        tr
                            td 446
                            td 182
                            td مكية
                            td
                                a(href=localhost+'/quran/الصافات') الصافات
                            td 37
                        tr
                            td 453
                            td 88
                            td مكية
                            td
                                a(href=localhost+'/quran/ص') سورة ص
                            td 38
                        tr
                            td 458
                            td 75
                            td مكية
                            td
                                a(href=localhost+'/quran/الزمر') الزمر
                            td 39
                        tr
                            td 467
                            td 85
                            td مكية
                            td
                                a(href=localhost+'/quran/غافر') غافر
                            td 40
                        tr
                            td 477
                            td 54
                            td مكية
                            td
                                a(href=localhost+'/quran/فصلت') فصلت
                            td 41
                        tr
                            td 483
                            td 53
                            td مكية
                            td
                                a(href=localhost+'/quran/الشورى') الشورى
                            td 42
                        tr
                            td 489
                            td 89
                            td مكية
                            td
                                a(href=localhost+'/quran/الزخرف') الزخرف
                            td 43
                        tr
                            td 496
                            td 59
                            td مكية
                            td
                                a(href=localhost+'/quran/الدخان') الدخان
                            td 44
                        tr
                            td 499
                            td 37
                            td مكية
                            td
                                a(href=localhost+'/quran/الجاثية') الجاثية
                            td 45
                        tr
                            td 502
                            td 35
                            td مكية
                            td
                                a(href=localhost+'/quran/الأحقاف') الأحقاف
                            td 46
                        tr
                            td 507
                            td 38
                            td مدنية
                            td
                                a(href=localhost+'/quran/محمد') محمد
                            td 47
                        tr
                            td 511
                            td 29
                            td مدنية
                            td
                                a(href=localhost+'/quran/الفتح') الفتح
                            td 48
                        tr
                            td 515
                            td 18
                            td مدنية
                            td
                                a(href=localhost+'/quran/الحجرات') الحجرات
                            td 49
                        tr
                            td 518
                            td 45
                            td مكية
                            td
                                a(href=localhost+'/quran/ق') سورة ق
                            td 50
                        tr
                            td 520
                            td 60
                            td مكية
                            td
                                a(href=localhost+'/quran/الذاريات') الذاريات
                            td 51
                        tr
                            td 523
                            td 49
                            td مكية
                            td
                                a(href=localhost+'/quran/الطور') الطور
                            td 52
                        tr
                            td 526
                            td 62
                            td مكية
                            td
                                a(href=localhost+'/quran/النجم') النجم
                            td 53
                        tr
                            td 528
                            td 55
                            td مكية
                            td
                                a(href=localhost+'/quran/القمر') القمر
                            td 54
                        tr
                            td 531
                            td 78
                            td مدنية
                            td
                                a(href=localhost+'/quran/الرحمن') الرحمن
                            td 55
                        tr
                            td 534
                            td 96
                            td مكية
                            td
                                a(href=localhost+'/quran/الواقعة') الواقعة
                            td 56
                        tr
                            td 537
                            td 29
                            td مدنية
                            td
                                a(href=localhost+'/quran/الحديد') الحديد
                            td 57
                        tr
                            td 542
                            td 22
                            td مدنية
                            td
                                a(href=localhost+'/quran/المجادلة') المجادلة
                            td 58
                        tr
                            td 545
                            td 24
                            td مدنية
                            td
                                a(href=localhost+'/quran/الحشر') الحشر
                            td 59
                        tr
                            td 549
                            td 13
                            td مدنية
                            td
                                a(href=localhost+'/quran/الممتحنة') الممتحنة
                            td 60
                        tr
                            td 551
                            td 14
                            td مدنية
                            td
                                a(href=localhost+'/quran/الصف') الصف
                            td 61
                        tr
                            td 553
                            td 11
                            td مدنية
                            td
                                a(href=localhost+'/quran/الجمعة') الجمعة
                            td 62
                        tr
                            td 554
                            td 11
                            td مدنية
                            td
                                a(href=localhost+'/quran/المنافقون') المنافقون
                            td 63
                        tr
                            td 556
                            td 18
                            td مدنية
                            td
                                a(href=localhost+'/quran/التغابن') التغابن
                            td 64
                        tr
                            td 558
                            td 12
                            td مدنية
                            td
                                a(href=localhost+'/quran/الطلارق') الطلاق
                            td 65
                        tr
                            td 560
                            td 12
                            td مدنية
                            td
                                a(href=localhost+'/quran/التحريم') التحريم
                            td 66
                        tr
                            td 562
                            td 30
                            td مكية
                            td
                                a(href=localhost+'/quran/الملك') الملك
                            td 67
                        tr
                            td 564
                            td 52
                            td مكية
                            td
                                a(href=localhost+'/quran/القلم') القلم
                            td 68
                        tr
                            td 566
                            td 52
                            td مكية
                            td
                                a(href=localhost+'/quran/الحاقة') الحاقة
                            td 69
                        tr
                            td 568
                            td 44
                            td مكية
                            td
                                a(href=localhost+'/quran/المعارج') المعارج
                            td 70
                        tr
                            td 570
                            td 28
                            td مكية
                            td
                                a(href=localhost+'/quran/نوح') نوح
                            td 71
                        tr
                            td 572
                            td 28
                            td مكية
                            td
                                a(href=localhost+'/quran/الجن') الجن
                            td 72
                        tr
                            td 574
                            td 20
                            td مكية
                            td
                                a(href=localhost+'/quran/المزمل') المزمل
                            td 73
                        tr
                            td 575
                            td 56
                            td مكية
                            td
                                a(href=localhost+'/quran/المدثر') المدثر
                            td 74
                        tr
                            td 577
                            td 40
                            td مكية
                            td
                                a(href=localhost+'/quran/القيامة') القيامة
                            td 75
                        tr
                            td 578
                            td 31
                            td مدنية
                            td
                                a(href=localhost+'/quran/الإنسان') الإنسان
                            td 76
                        tr
                            td 580
                            td 50
                            td مكية
                            td
                                a(href=localhost+'/quran/المرسلات') المرسلات
                            td 77
                        tr
                            td 582
                            td 40
                            td مكية
                            td
                                a(href=localhost+'/quran/النبأ') النبأ
                            td 78
                        tr
                            td 583
                            td 46
                            td مكية
                            td
                                a(href=localhost+'/quran/النازعات') النازعات
                            td 79
                        tr
                            td 585
                            td 42
                            td مكية
                            td
                                a(href=localhost+'/quran/عبس') عبس
                            td 80
                        tr
                            td 586
                            td 29
                            td مكية
                            td
                                a(href=localhost+'/quran/التكوير') التكوير
                            td 81
                        tr
                            td 587
                            td 19
                            td مكية
                            td
                                a(href=localhost+'/quran/الإنفطار') الإنفطار
                            td 82
                        tr
                            td 587
                            td 36
                            td مكية
                            td
                                a(href=localhost+'/quran/المطففين') المطففين
                            td 83
                        tr
                            td 589
                            td 52
                            td مكية
                            td
                                a(href=localhost+'/quran/الانشقاق') الانشقاق
                            td 84
                        tr
                            td 590
                            td 22
                            td مكية
                            td
                                a(href=localhost+'/quran/البروج') البروج
                            td 85
                        tr
                            td 591
                            td 17
                            td مكية
                            td
                                a(href=localhost+'/quran/الطارق') الطارق
                            td 86
                        tr
                            td 591
                            td 19
                            td مكية
                            td
                                a(href=localhost+'/quran/الأعلى') الأعلى
                            td 87
                        tr
                            td 592
                            td 26
                            td مكية
                            td
                                a(href=localhost+'/quran/الغاشية') الغاشية
                            td 88
                        tr
                            td 593
                            td 30
                            td مكية
                            td
                                a(href=localhost+'/quran/الفجر') الفجر
                            td 89
                        tr
                            td 594
                            td 20
                            td مكية
                            td
                                a(href=localhost+'/quran/البلد') البلد
                            td 90
                        tr
                            td 595
                            td 15
                            td مكية
                            td
                                a(href=localhost+'/quran/الشمس') الشمس
                            td 91
                        tr
                            td 595
                            td 21
                            td مكية
                            td
                                a(href=localhost+'/quran/الليل') الليل
                            td 92
                        tr
                            td 596
                            td 11
                            td مكية
                            td
                                a(href=localhost+'/quran/الضحى') الضحى
                            td 93
                        tr
                            td 596
                            td 8
                            td مكية
                            td
                                a(href=localhost+'/quran/الشرح') الشرح
                            td 94
                        tr
                            td 597
                            td 8
                            td مكية
                            td
                                a(href=localhost+'/quran/التين') التين
                            td 95
                        tr
                            td 597
                            td 19
                            td مكية
                            td
                                a(href=localhost+'/quran/العلق') العلق
                            td 96
                        tr
                            td 598
                            td 5
                            td مكية
                            td
                                a(href=localhost+'/quran/القدر') القدر
                            td 97
                        tr
                            td 598
                            td 8
                            td مدنية
                            td
                                a(href=localhost+'/quran/البينة') البينة
                            td 98
                        tr
                            td 599
                            td 8
                            td مدنية
                            td
                                a(href=localhost+'/quran/الزلزلة') الزلزلة
                            td 99
                        tr
                            td 599
                            td 11
                            td مكية
                            td
                                a(href=localhost+'/quran/العاديات') العاديات
                            td 100
                        tr
                            td 600
                            td 11
                            td مكية
                            td
                                a(href=localhost+'/quran/القارعة') القارعة
                            td 101
                        tr
                            td 600
                            td 8
                            td مكية
                            td
                                a(href=localhost+'/quran/التكاثر') التكاثر
                            td 102
                        tr
                            td 601
                            td 3
                            td مكية
                            td
                                a(href=localhost+'/quran/العصر') العصر
                            td 103
                        tr
                            td 601
                            td 9
                            td مكية
                            td
                                a(href=localhost+'/quran/الهمزة') الهمزة
                            td 104
                        tr
                            td 601
                            td 5
                            td مكية
                            td
                                a(href=localhost+'/quran/الفيل') الفيل
                            td 105
                        tr
                            td 602
                            td 4
                            td مكية
                            td
                                a(href=localhost+'/quran/قريش') قريش
                            td 106
                        tr
                            td 602
                            td 7
                            td مكية
                            td
                                a(href=localhost+'/quran/الماعون') الماعون
                            td 107
                        tr
                            td 602
                            td 3
                            td مكية
                            td
                                a(href=localhost+'/quran/الكوثر') الكوثر
                            td 108
                        tr
                            td 603
                            td 6
                            td مكية
                            td
                                a(href=localhost+'/quran/الكافرون') الكافرون
                            td 109
                        tr
                            td 303
                            td 3
                            td مدنية
                            td
                                a(href=localhost+'/quran/النصر') النصر
                            td 110
                        tr
                            td 603
                            td 5
                            td مكية
                            td
                                a(href=localhost+'/quran/المسد') المسد
                            td 111
                        tr
                            td 604
                            td 4
                            td مكية
                            td
                                a(href=localhost+'/quran/الإخلاص') الإخلاص
                            td 112
                        tr
                            td 604
                            td 5
                            td مكية
                            td
                                a(href=localhost+'/quran/الفلق') الفلق
                            td 113
                        tr
                            td 604
                            td 6
                            td مكية
                            td
                                a(href=localhost+'/quran/الناس') الناس
                            td 114
        #Statistics
            #Statistics_top إحصائيات 
            ul#Statistics_text
                li عدد المشاركات: 
                    span#Statistics_psts= Member.length
                li عدد الأعضاء: 
                    span#Statistics_psts= Users_length
                li أحدث عضو: 
                    span#Statistics_psts= lastUsers
        p#bottom موقع التقوى | www.altaqwaa.org 
        p#bottom_2 Desing web site by : 
            a#bottom_a(href='https://github.com/rn0x' target='_blank') @rn0x 
